<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <h3>Profile</h3>
        {% if t %}
            <p>{{ t }}</p>    
        {% endif %}
        {% if uimg %}
            <img src="{{ uimg }}" alt="Sorry can't load" height="150px">
            <a href="http://127.0.0.1:8000/">Log Out</a>
        {% endif %}
    </center>

</body>
</html>